---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/landing/Hero.astro";
import RecentEpisodes from "../components/landing/RecentEpisodes.astro";
---

<BaseLayout>
  <Hero />
  <h2
    class="text-4xl font-medium uppercase w-full text-center py-10 text-white font-serif"
  >
    Elige tu próximo corte.
  </h2>
  <RecentEpisodes />
</BaseLayout>
