<footer>
  <div class="px-8 py-12 mx-auto md:px-12 max-w-screen-xl lg:py-12 text-white">
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="grid grid-cols-2 lg:grid-cols-2 max-w-xl gap-2 gap-y-12">
        <div class="mt-12 md:mt-0">
          <h3 class="text-sm font-medium font-serif uppercase tracking-wide">
            SERVICIOS
          </h3>
          <ul role="list" class="mt-4 space-y-2 text-sm">
            <li>
              <a href="/" class="text-zinc-500 hover:"> Corte de cabello </a>
            </li>
            <li>
              <a href="/" class="text-zinc-500 hover:"> Afeitado </a>
            </li>
            <li>
              <a href="/" class="text-zinc-500 hover:"> Corte y barba </a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm font-medium font-serif uppercase tracking-wide">
            Mantente actualizado
          </h3>
          <ul role="list" class="mt-4 space-y-2 text-sm">
            <li>
              <a
                href="https://www.nuestra-barberia.com/novedades"
                class="text-zinc-500 hover:"
              >
                Novedades
              </a>
            </li>
            <li>
              <a
                href="https://www.nuestra-barberia.com/eventos"
                class="text-zinc-500 hover:"
              >
                Eventos
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-sm font-medium font-serif uppercase tracking-wide">
            Redes Sociales
          </h3>
          <ul role="list" class="mt-4 space-y-2 text-sm">
            <li>
              <a
                href="https://twitter.com/nuestrabarberia"
                class="text-zinc-500 hover:"
              >
                @nuestrabarberia
              </a>
            </li>
            <li>
              <a
                href="https://facebook.com/nuestrabarberia"
                class="text-zinc-500 hover:"
              >
                Nuestra Barbería en Facebook
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-sm font-medium font-serif uppercase tracking-wide">
            Más información
          </h3>
          <ul role="list" class="mt-4 space-y-2 text-sm">
            <li>
              <a
                href="https://www.nuestra-barberia.com/"
                class="text-zinc-500 hover:"
              >
                Página Principal
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="gap-x-8 gap-y-6 lg:col-span-2 text-zinc-500 font-light uppercase"
      >
        <p class="lg:col-span-2 md:text-base xl:text-2xl">
          © 2023 Nuestra Barbería. Todos los derechos reservados. Nuestra
          Barbería no está afiliada con ninguna otra entidad, ni está respaldada
          o patrocinada por terceros.
          <br />
          <br />
          Un proyecto dedicado a ofrecer los mejores servicios de barbería y cuidado
          personal. Este sitio web fue construido con pasión y dedicación. Ubicados
          en Puebla de Zaragoza, México.
        </p>
      </div>
    </div>
    <p
      class="mt-8 text-4xl font-light lg:text-6xl text-balance tracking-tight text-white uppercase font-serif"
    >
      BARBER
    </p>
  </div>
</footer>
